<% provide(:title, "施設情報編集") %>
<% provide(:class_text, 'f-edit') %>
<% provide(:button_text, '更新') %>



<h1>施設情報の更新</h1>



<div class="row">
  <div class="col-md-6 col-md-offset-3 facility-edit">
    <img src="/assets/2a7146ba513f35663db5a78ddf4e45fd.png" alt="" width="220" height="150" style="margin-bottom: -10px; margin-left: 320px;"/>
    <%= render "form" %>
  </div>
</div>

