<% provide(:title, '施設新規登録') %>
<% provide(:class_text, 'signup') %>
<% provide(:button_text, '施設新規登録') %>

<h1 id="new-title">施設新規登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>
