<% provide(:title, @facility.name) %>
<div>
  <table class="table table-bordered table-condensed facility-table">
    <tr>
      <td></td>
      <td>施設名</td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td><%= @facility.name %></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>