<% provide(:title, '月別ヒヤリ・事故') %>

<h1>月別ヒヤリ・事故報告書</h1>
<div id="facility-name">
  <h3><%= current_facility.name %></h3>
</div>


<table class="table table-striped table-bordered table-condensed table-hover user-table">
  <thead>
    <tr>
      <th colspan="2">年月</th>

    </tr>
  </thead>

  <tbody>
    <td>
    </td>
  </tbody>

</table>