<tr>
  <td class="event-td">薬に関すること</td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
  <td class="event-td"></td>
</tr>