// Place all the styles related to the Accidents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//家族連絡欄
.family-report {
  text-align: center;
  font-size: 14px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

//Google_Chart_APIの位置
.api_position_all {
  padding-left: 80px;
}

.api_position {
  width: 500px;
  height: 300px;
  float: left;
}

.api_title {
  display: inline-block;
  padding-left: 480px;
}

//テスト