@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

/* universal */

body {
  padding-top: 60px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #CCCCCC;
}

//背景画像の設定
.main-img {
  /* 画像ファイルの指定 */
  background-image: url(/assets/kaigo.jpg);
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  //background-size: contain;
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#facility-name {
  float: right;
  margin-top: 120px;
}

/* debug */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* error_messages */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

#error_messages_position {
  padding-top: 80px;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

//ジャンボトロンのタイトル
#jumbo-position {
  margin-top: 200px;
  margin-bottom: 100px;
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: rgba( 254, 255, 255, 0.55 );
  height: 220px;
  background-size: cover;
}

#hiyari-title {
  position: absolute;
  text-align: center;
  bottom: 500px;
  left: 300px;
  right: 300px;
  top: 270px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.2vmax;
}

/* ログインフォーム */
.label-login {
  margin-top: 5px;
}

.btn-login {
  margin-top: 10px;
}

/* モーダルウインドウの位置調整 */
.modal-dialog-center {
  padding-top: 10%;
  width: 30%;
}

.login-btn {
  padding-top: 20px;
  padding-bottom: 30px;
}

.signup-font {
  font-size: 15px;
}

.btn-position {
  margin: 20px 0;
}

//タイトルの位置
.title-position {
  margin-top: 70px;
}

.month-title-position {
  margin: 70px 0 50px 250px;
}

.title-position-l {
  margin-top: 80px;
}

#facility-title-name {
  margin-top: 40px;
  color: darkcyan;
}

//施設利用者一覧ページ
.active-color {
  background-color: cornflowerblue;
  color: #F7F7F7;
}

.no-active-color {
  background-color: #c3325f;
  color: #F7F7F7;
}

.active-position {
  text-align: center;
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.index-btn-position {
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.senior_name_space {
  width: 55%;
  text-align: center;
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-top: 10px;
}

.charge_worker_space {
  width: 20%;
  text-align: center;
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-top: 10px;
}

.off-senior {
  background-color: #EFEFEF;
}

.th-index {
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-top: 10px;
  background-color: lightblue;
}

.th-index-red {
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-top: 10px;
  background-color: #f2dede;
}

//職員一覧ページ
.active-color-worker {
  background-color: #009999;
  color: #F7F7F7;
}

//bootstrapタブ調整
.tab-table {
  padding-right: 0;
  padding-left: 0;
}

//オシャレボタン
#new-senior-btn {
  float: right;
  a {
    text-decoration: none;
  }
  a:visited {
    color: white;
  }
}

.btn-square-shadow {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 5px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.btn-square-shadow:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

//オシャレなフォント
.font-M {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

//施設新規登録ボタン配置
.btn-senior {
  margin: 10px 0;
}

label.label-senior{
  margin: 3px 0;
}

/* モーダル関連css */

.label-basic-info {
  margin-top:10px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 50%;
}

//利用者新規登録の担当者選択案内
#choice {
  font-size: 10px;
  color: red;
  float: right;
  margin-top: 12px;
  margin-right: 60px;
}

//チェックボックスデザイン
.check-position {
  font-size: 16px;
  padding: 20px 50px 20px 40px;
  margin: 10px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.check-hidden {
  width: 12px;
  height: 12px;
}

//担当職員数警告
.count-warning {
  color: #c7254e;
}

//ヒヤリ・事故件数カウント
.accidents-count {
  color: #c7254e;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: center;
}

.active-position {
  text-align: center;
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

//ヒヤリ一覧
.accidents-thead {
  font-size: 18px;
  background-color: #c7254e;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: center;
}

.accidents-th {
  text-align: center;
  font-size: 17px;
  color: #2E2F30;
  background-color: violet;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.month {
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
}

.month-count {
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  color: #c7254e;
}

.accident-senior {
  text-align: center;
  font-size: 16px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.show-btn-position {
  text-align: center;
  a:visited {
    color: white;
    //text-decoration: none;
  }
  a {
    text-decoration: none;
  }
}

//オシャレボタンミニ
.btn-square-shadow-mini {
  display: inline-block;
  padding: 0.3em 0.6em;
  text-decoration: none;
  background: #f0ad4e;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px darkgoldenrod;
  border-radius: 5px;
  font-size: 10px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.btn-square-shadow:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

//テーブルストライプ
.tr-back1 {
  background: #f0f0f0;
}

//ヒヤリ・事故判別
.which-accident {
  color: #c3325f;
  float: left;
  padding-left: 30px;
  padding-right: 15px;
}

//ヒヤリ・事故情報の位置
.accident-scene-position {
  text-align: left;
}