@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

/* universal */

body {
  padding-top: 60px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #CCCCCC;
}

//背景画像の設定
.main-img {
  /* 画像ファイルの指定 */
  background-image: url(/assets/kaigo.jpg);
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  //background-size: contain;
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#facility-name {
  float: right;
  margin-top: 120px;
}

/* debug */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* error_messages */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

#error_messages_position {
  padding-top: 80px;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

//ジャンボトロンのタイトル
#jumbo-position {
  margin-top: 200px;
  margin-bottom: 100px;
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: rgba( 254, 255, 255, 0.55 );
  height: 220px;
  background-size: cover;
}

#hiyari-title {
  position: absolute;
  text-align: center;
  bottom: 500px;
  left: 300px;
  right: 300px;
  top: 270px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.2vmax;
}

/* ログインフォーム */
.label-login {
  margin-top: 5px;
}

.btn-login {
  margin-top: 10px;
}

/* モーダルウインドウの位置調整 */
.modal-dialog-center {
  padding-top: 10%;
  width: 30%;
}

.login-btn {
  padding-top: 20px;
  padding-bottom: 30px;
}

.signup-font {
  font-size: 15px;
}

.btn-position {
  margin: 20px 0;
}

//タイトルの位置
.title-position {
  margin-top: 80px;
}

.title-position-center {
  margin: 70px 0 50px 250px;
}

.title-position-l {
  margin-top: 80px;
}

.title-position-top {
  font-size: 30px;
  margin: 10px;
}

#facility-title-name {
  margin-top: 40px;
  color: darkcyan;
}

//施設利用者一覧ページ
.active-color {
  background-color: cornflowerblue;
  color: #F7F7F7;
}

.no-active-color {
  background-color: #c3325f;
  color: #F7F7F7;
}

.active-position {
  text-align: center;
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.senior_name_space {
  width: 55%;
  text-align: center;
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-top: 10px;
}

.charge_worker_space {
  width: 20%;
  text-align: center;
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-top: 10px;
}

.off-senior {
  background-color: #EFEFEF;
}

.th-index {
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-top: 10px;
  background-color: lightblue;
}

.th-index-red {
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-top: 10px;
  background-color: #f2dede;
}

//職員一覧ページ
.active-color-green {
  background-color: #009999;
  color: #F7F7F7;
}

//bootstrapタブ調整
.tab-table {
  padding-right: 0;
  padding-left: 0;
}

//オシャレボタン
#new-senior-btn {
  float: right;
  a {
    text-decoration: none;
  }
  a:visited {
    color: white;
  }
}

.btn-square-shadow {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 5px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.btn-square-shadow:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

//オシャレなフォント
.font-M {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

//施設新規登録ボタン配置
.btn-senior {
  margin: 10px 0;
}

label.label-senior{
  margin: 3px 0;
}

/* モーダル関連css */

.label-basic-info {
  margin-top:10px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 50%;
}

//利用者新規登録の担当者選択案内
#choice {
  font-size: 10px;
  color: red;
  float: right;
  margin-top: 12px;
  margin-right: 60px;
}

//チェックボックスデザイン
.check-position {
  font-size: 16px;
  padding: 20px 50px 20px 40px;
  margin: 10px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.check-hidden {
  width: 12px;
  height: 12px;
}

//担当職員数警告
.count-warning {
  color: #c7254e;
}

//ヒヤリ・事故件数カウント
.accidents-count {
  color: #c7254e;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: center;
}

.active-position {
  text-align: center;
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

//ヒヤリ一覧
.accidents-thead {
  font-size: 18px;
  background-color: #c7254e;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: center;
}

.accidents-th {
  text-align: center;
  font-size: 17px;
  color: #2E2F30;
  background-color: violet;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.month {
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
}

.month-count {
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  color: #c7254e;
}

.accident-senior {
  text-align: center;
  font-size: 16px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.show-btn-position {
  text-align: center;
  width: 25%;
  a:visited {
    color: white;
  }
  a {
    text-decoration: none;
  }
}

td .show-btn-position {
  width: 20%;
}

//オシャレボタンミニ
.btn-square-shadow-mini {
  display: inline-block;
  padding: 0.3em 0.6em;
  text-decoration: none;
  background: #f0ad4e;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px darkgoldenrod;
  border-radius: 5px;
  font-size: 10px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.btn-square-shadow-mini:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

//オシャレボタン青
.btn-square-shadow-blue {
  display: inline-block;
  padding: 0.3em 40px;
  text-decoration: none;
  background: #428bca;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #445588;
  border-radius: 5px;
  font-size: 10px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.btn-square-shadow-blue:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

//オシャレボタン赤
.btn-square-shadow-red {
  display: inline-block;
  padding: 0.3em 0.6em;
  text-decoration: none;
  background: #c7254e;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #730E15;
  border-radius: 5px;
  font-size: 10px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.btn-square-shadow-red:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

//オシャレボタン緑
.btn-square-shadow-green {
  display: inline-block;
  padding: 0.3em 40px;
  text-decoration: none;
  background: teal;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px darkslategray;
  border-radius: 5px;
  font-size: 10px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.btn-square-shadow-green:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

//オシャレボタンピンク
.btn-square-shadow-pink {
  display: inline-block;
  padding: 0.3em 0.6em;
  text-decoration: none;
  background: lightcoral;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px rgba(115, 14, 21, 0.88);
  border-radius: 5px;
  font-size: 10px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.btn-square-shadow-red:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

//テーブルストライプ
.tr-back1 {
  background: #f0f0f0;
}

//ヒヤリ・事故判別
.which-accident {
  color: #c3325f;
  float: left;
  padding-left: 10px;
  padding-right: 15px;
}

//ヒヤリ・事故情報の位置
.accident-scene-position {
  text-align: left;
}

//利用者別ヒヤリ一覧
.pink-thead {
  font-size: 18px;
  background-color: hotpink;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: center;
}

//ヒヤリ新規作成ボタン位置
.create_accident {
  text-align: center;
  width: 14%;
  a:visited {
    color: white;
    //text-decoration: none;
  }
  a {
    text-decoration: none;
  }
}

//利用者別ヒヤリ一覧
.accident-index {
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  width: 25%;
}

.accident-index-count {
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  color: #c7254e;
  width: 40%;
}

.index-btn-position {
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  width: 22%;
  a {
    text-decoration: none;
  }
}

//ヒヤリ報告書
.sign-table {
  margin-top: 30px;
}

.title-position-print {
  position: absolute;
  font-size: 30px;
  margin: 50px 10px 30px 30px;
}

th.sign-th {
  text-align: center;
  height: 20px;
  width: 10%;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: #f0ad4e;
  font-size: 18px;
}

th.report-th {
  text-align: center;
  height: 20px;
  width:10px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: blanchedalmond;
  font-size: 18px;
}

.sign-box {
  text-align: center;
  height: 50px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

#level {
  font-size: 16px;
  padding-left: 10px;
}

.report-index {
  width: 150px;
  font-size: 16px;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: #fcf8e3;
}

.report-td {
  width: 36%;
  text-align: center;
  font-size: 16px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.report-td-left {
  width: 36%;
  font-size: 16px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin-left: 20px;
}

td.report-td-left {
  padding-left: 20px;
}

.title-position-department {
  position: absolute;
  font-size: 20px;
  margin: 95px 10px 30px 30px;
}

//ヒヤリ新規作成利用者一覧ページ
.little-pink-thead {
  font-size: 18px;
  background-color: lightpink;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: center;
}

//ヒヤリ新規作成ページ
.pull-left {
  display: inline-block;
  margin-top: -70px;
  width: 160px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.bootstrap-date {
  display: inline-block;
  width: auto;
  margin-right: 5px;
}

.select-choice {
  font-size: 10px;
  color: red;
  margin-top: 12px;
  margin-left: 8px;
}

input#senior_accidents_accident_result_comment.form-control {
  margin-top: -50px;
  margin-left: 100px;
  height: 45px;
  width: 600px;
}

.label-inline-flex {
  display: inline-flex;
  font-size: 14px;
  margin-left: 8px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.label-inline-flex-new {
  display: inline-flex;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.field {
  padding: 0 8px;
}

.left-space {
  margin-left: 10px;
  font-size: 16px;
}

#evaluation-top {
  padding-top: 5px;
}

p.left-space {
 margin-bottom: 0;
}

.btn-flat-logo {
  margin: -110px 0 0 20px;
  position: absolute;
  font-size: 20px;
  border-radius: 5px;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #00bcd4;
  transition: .4s;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.btn-flat-logo:hover {
  background: #1ec7bb;
}

//ヒヤリ事故集計
.spreadsheet-thead {
  font-size: 18px;
  background-color: mediumvioletred;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: center;
}

//各月ヒヤリ事故集計表
.month-spreadsheet-thead {
  font-size: 12px;
  color: #2E2F30;
  background-color: orange;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: center;
}

//スクロール
.vertical-scroll-table{
  color: #5e5e5e;
  max-height: 600px;
  overflow: auto;
  overflow-x: hidden;
}

.vertical-scroll-table table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.vertical-scroll-table table thead tr{
  font-weight: bold;
  text-align: center;
  background-color: #f3f4f5;
}

.vertical-scroll-table table tbody tr:nth-child(even){
  background-color: #fafbfc;
}

.vertical-scroll-table table td{
  padding: 10px;
}

.floor-color {
  background-color: #fcf8e3;
  color: #2E2F30;
  font-size: 12px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: center;
}

.event-td {
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 12px;
  color: #2E2F30;
}

//ヒヤリ集計ページ
.spreadsheet-month {
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  width: 10px;
}

//サインボタン
.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
}

.confirm_sign {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 20px;
  color: #c7254e;
}

.stamp { font-size:10px; border:3px double #f00; border-radius:50%; color:#f00; width:64px; height:64px; position:relative; margin:auto; }
.stamp span { display:inline-block; width:100%; text-align:center; }
.stamp span:first-child::before { position:absolute; top:5px; left:0; right:0; margin:auto; width:80%; border-bottom:1px solid #f00; line-height:1; padding-bottom:3px; }
.stamp span:first-child { line-height:56px; }
.stamp span:last-child { position:absolute; top:38px; left:0; right:0; margin:auto; width:80%; border-top:1px solid #f00; padding-top:2px; line-height:1; }
.stamp-approve span:first-child::before {
  content:"確認済";
}