.actions {
  float: left;
  margin-left: 100px;
}

#qr_img {
  padding-left: 80px;
}

//認証ボタン
.btn-flat-vertical-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.2em 1em;
  text-decoration: none;
  border-left: solid 2px #668ad8;
  border-right: solid 2px #668ad8;
  color: #668ad8;
  background: #e1f3ff;
  transition: .4s;
  border-radius: 20px;
}

.btn-flat-vertical-border:hover {
  background: #668ad8;
  color: #FFF;
}

.btn-flat-vertical-danger {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.2em 1em;
  text-decoration: none;
  border-left: solid 2px #FF5192;
  border-right: solid 2px #FF5192;
  color: #FF5192;
  background: #FFDDFF;
  transition: .4s;
  border-radius: 20px;
}

.btn-flat-vertical-danger:hover {
  background: #FF5192;
  color: #FFEEFF;
}

//ログインキャンセルボタン
.btn-cancel {
  text-decoration: none !important;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.3em 2em;
  border: solid 2px #c3325f;
  color: #c3325f;
  background: #FFCCCC;
  transition: .4s;
  border-radius: 5px;
  margin: 50px 0 0 98px;
}

.btn-cancel:hover {
  background: #c3325f;
  color: #FFF;
}