/* 施設情報テーブル */

.facility-table {
  vertical-align: middle;
  text-align: center;
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 30px;
}

.label-f-edit {
  margin-top: 10px;
}

.btn-f-edit {
  margin-top: 30px;
}

/* 施設ユーザー一覧ページ */

#table-facilities {
  td {
    vertical-align: middle;
  }
}
