/* 施設情報テーブル */

.facility-table {
  vertical-align: middle;
  text-align: center;
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 30px;
}

.label-f-edit {
  margin-top: 10px;
}

.btn-f-edit {
  margin-top: 30px;
}

/* 施設ユーザー一覧ページ */

#table-facilities {
  td {
    vertical-align: middle;
  }
}

//未確認捺印お知らせアイコン
.btn-social-circle {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFF;
  width: 26px;
  height: 26px;
  line-height: 20px;
  padding: 0 3px 2px 2px;
  font-size: 5px;
  border-radius: 50%;
  text-align: center;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 -1px 0px rgba(0, 0, 0, 0.18);
  transition: .2s;
}

.btn-social-circle .fa {
  line-height: 5px;
}
.btn-social-circle:hover {
  box-shadow: none;
}

.btn-social-circle--twitter {
  background: #1da1f3;
  border: solid 3px #1da1f3;
}

.btn-social-circle--facebook {
  background: #3b75d4;
  border: solid 3px #3b75d4;
}

.btn-social-circle--pocket {
  background: #ef4d4d;
  border: solid 3px #ef4d4d;
}

.btn-social-circle--green {
  background: #7ece46;
  border: solid 3px #7ece46;
}

.btn-social-circle--yellow {
  background: #FF6633;
  border: solid 3px #FF6600;
}

//最終確認捺印お知らせアイコン：四角
.btn-social-square {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFF;
  width: 25px;
  height: 25px;
  line-height: 20px;
  font-size: 5px;
  border-radius: 10%;
  text-align: center;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 -1px 0px rgba(0, 0, 0, 0.18);
  transition: .2s;
}

.btn-social-square .fa {
  line-height: 5px;
}
.btn-social-square:hover {
  box-shadow: none;
}

.btn-social-square--twitter {
  background: #1da1f3;
  border: solid 3px #1da1f3;
}

.btn-social-square--facebook {
  background: #3b75d4;
  border: solid 3px #3b75d4;
}

.btn-social-square--pocket {
  background: #ef4d4d;
  border: solid 3px #ef4d4d;
}

.btn-social-square--green {
  background: #7ece46;
  border: solid 3px #7ece46;
}

.btn-social-square--yellow {
  background: #FF6633;
  border: solid 3px #FF6600;
}

#last-info {
  color: royalblue;
  display: inline;
  padding-right: 5px;
}

.facility-edit {
  background: #d9edf7;
  padding: 30px;
  border-radius: 10px;
}

//施設新規登録ページ
#new-title {
  padding-top: 70px;
}