.btn-flat-border {
  display: inline-block;
  padding: 0.4em 1.5em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  margin-right: 20px;
}

.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
  text-decoration: none;
}

.btn-flat-border2 {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  color: #3b75d4;
  border: solid 2px royalblue;
  border-radius: 3px;
  transition: .4s;
  font-size: 20px;
}

.btn-flat-border2:hover {
  background: #3b75d4;
  color: white;
  text-decoration: none;
}

.btn-flat-border-login {
  display: inline-block;
  padding: 0.2em 3.3em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  margin-right: 20px;
  background: azure;
}

.btn-flat-border-login:hover {
  background: #67c5ff;
  color: white;
  text-decoration: none;
}

.btn-flat-border-test {
  display: inline-block;
  padding: 0.2em 0.5em;
  text-decoration: none;
  color: #3b75d4;
  border: solid 2px royalblue;
  border-radius: 3px;
  transition: .4s;
  margin-right: 20px;
  background: aliceblue;
}

.btn-flat-border-test:hover {
  background: #3b75d4;
  color: white;
  text-decoration: none;
}

.test-btn {
  padding-bottom: 12px;
}

.btn-flat-border-signup {
  display: inline-block;
  padding: 0.2em 4.4em;
  text-decoration: none;
  color: #3b75d4;
  border: solid 2px royalblue;
  border-radius: 3px;
  transition: .4s;
  margin-right: 20px;
  background: aliceblue;
}

.btn-flat-border-signup:hover {
  background: #3b75d4;
  color: white;
  text-decoration: none;
}

//サインアップ
.btn-flat-border3 {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px deepskyblue;
  border-radius: 3px;
  transition: .4s;
  font-size: 20px;
  margin-left: 10px;
}

.btn-flat-border3:hover {
  background: #67c5ff;
  color: white;
}

.test-btn {
  padding-bottom: 12px;
}